@*Route*@
@page "/projects/create/{companyId:guid}"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation


<div class="container form-row my-auto">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
                <img class="login-img mx-auto d-block align-self-center" src="img/Authentication/Login Image.png">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
                <ProjectForm buttonText = "Add Project" project = "@project" OnValidSubmit = "@CreateProject"></ProjectForm>
            </div>
    </div>
</div>



@code {

    [Parameter] public Guid companyId { get; set; }

    ProjectEntity project = new ProjectEntity();

    async Task CreateProject()
    {
        project.CompanyId = companyId;
        await http.PostAsJsonAsync("api/project", project);
        Navigation.NavigateTo($"/projects/{companyId}");
    }
}
