@page "/projects/edit/{projectName}/{companyName}/{companyId:guid}"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="manage-project-img mx-auto d-block align-self-center" src="img/Project/Manage Project Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <h4 id="project-text">Update <br> 
                <a style="color: #6C60FF; text-decoration: none; font-weight: 600;" 
                    href="">
                @project.ProjectName</a>
            </h4>
            <ProjectForm buttonText = "Update project"  project = "@project" OnValidSubmit = "@UpdateProjectByName"></ProjectForm>
        </div>

    </div>
</div>



@code {

    [Parameter] public string projectName { get; set; }
    
    [Parameter] public Guid companyId { get; set; }

    [Parameter] public string companyName { get; set; }

    ProjectEntity project = new ProjectEntity();

    protected async override Task OnParametersSetAsync()
    {
        project = await http.GetFromJsonAsync<ProjectEntity>($"api/project/{projectName}");
    }

    async Task UpdateProjectByName()
    {
        await http.PutAsJsonAsync("api/project", project);
        Navigation.NavigateTo($"/projects/{companyId}/{companyName}");
    }
}
