@*Route*@
@page "/companies/create"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation


<h3>AddCompany</h3>

<CompanyForm buttonText = "Add Company" company = "@company" OnValidSubmit = "@CreateCompany"></CompanyForm>

@code {

    CompanyEntity company = new CompanyEntity();

    async Task CreateCompany()
    {
        await http.PostAsJsonAsync("api/company", company);
        Navigation.NavigateTo("/companies");
    }
}
