@*Route*@
@page "/companies/create"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="add-company-img mx-auto d-block align-self-center" src="img/Company/Add Company Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <CompanyForm buttonText = "Add Company" company = "@company" OnValidSubmit = "@CreateCompany"></CompanyForm>
        </div>

    </div>
</div>



@code {

    CompanyEntity company = new CompanyEntity();

    CompanyEntity valCompany = new CompanyEntity();

    async Task CreateCompany()
    {
        //valCompany = await http.GetFromJsonAsync<CompanyEntity>($"api/company/{company.CompanyName}");

        await http.PostAsJsonAsync("api/company", company);
        Navigation.NavigateTo("/companies");
    }
}
