@*Route*@
@page "/companies/create"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

@*For JS confirmations*@
@inject IJSRuntime js



<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="add-company-img mx-auto d-block align-self-center" src="img/Company/Manage Company Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <h4 id="add-company-text">Create Your <br> Latest <span style="color: #8676FF;">Company</span></h4>
            <CompanyForm buttonText = "Create company" company = "@company" OnValidSubmit = "@CreateCompany"></CompanyForm>
        </div>

    </div>
</div>



@code {

    CompanyEntity company = new CompanyEntity();

    CompanyEntity valCompany = new CompanyEntity();

    async Task CreateCompany()
    {
        //valCompany = await http.GetFromJsonAsync<CompanyEntity>($"api/company/{company.CompanyName}");

        var result = await http.PostAsJsonAsync("api/company", company);
        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/companies");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"This company is already existing in the system");
            Navigation.NavigateTo("/companies/create");
        }
        
    }
}
