@page "/companies/edit/{companyName}"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

@*For JS confirmations*@
@inject IJSRuntime js



<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="add-company-img mx-auto d-block align-self-center" src="img/Company/Manage Company Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <h4 id="add-company-text">Update <br> <span style="color: #6C60FF;">@companyName</span> </h4>
            <CompanyForm buttonText = "Update company" company = "@company" OnValidSubmit = "@UpdateCompanyByName"></CompanyForm>
        </div>


    </div>
</div>


@code {
    [Parameter] public string companyName { get; set; }

    CompanyEntity company = new CompanyEntity();

    protected async override Task OnParametersSetAsync()
    {
        company = await http.GetFromJsonAsync<CompanyEntity>($"api/company/{companyName}");
    }

    async Task UpdateCompanyByName()
    {
        var result = await http.PutAsJsonAsync("api/company", company);
        if (result.IsSuccessStatusCode)
        {   
            Navigation.NavigateTo("/companies");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"This project name is already existing in the system");
            Navigation.NavigateTo("/companies");
        }
        
    }
}