@page "/companies/edit/{companyName}"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="add-company-img mx-auto d-block align-self-center" src="img/Company/Add Company Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <CompanyForm buttonText = "Update Company" company = "@company" OnValidSubmit = "@UpdateCompanyByName"></CompanyForm>
        </div>


    </div>
</div>


@code {
    [Parameter] public string companyName { get; set; }

    CompanyEntity company = new CompanyEntity();

    protected async override Task OnParametersSetAsync()
    {
        company = await http.GetFromJsonAsync<CompanyEntity>($"api/company/{companyName}");
    }

    async Task UpdateCompanyByName()
    {
        await http.PutAsJsonAsync("api/company", company);
        Navigation.NavigateTo("/companies");
    }
}