@*Route*@
@page "/users/create"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

@*For JS confirmations*@
@inject IJSRuntime js


<div class="container my-auto">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img class="assign-user-img mx-auto d-block align-self-center" src="img/User/Manage User Image.png">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <UserForm buttonText="Add User" user="@user" OnValidSubmit="@CreateUser"></UserForm>
        </div>
    </div>
</div>

<div style="margin-bottom: 70px;"></div>



@code {

    UserEntity user = new UserEntity();

    async Task CreateUser()
    {
        var result = await http.PostAsJsonAsync("api/user", user);
        if (result.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/users");
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"This user is already existing in the system");
            Navigation.NavigateTo("/users");
        }

    }
}
