@*Route*@
@page "/users/create"

@*Getting HttpClient class*@
@inject HttpClient http

@*For redirecting purposes*@
@inject NavigationManager Navigation

<h3 class="mb-5">Add User</h3>

<UserForm buttonText="Add User" user="@user" OnValidSubmit="@CreateUser"></UserForm>


@code {

    UserEntity user = new UserEntity();

    async Task CreateUser()
    {
        await http.PostAsJsonAsync("api/user", user);
        Navigation.NavigateTo("/users");
    }
}
