@inject ISyncLocalStorageService LocalStorage

@page "/"

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, Stranger!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Hello, @LocalStorage.GetItemAsString("username")!</h1>
    </Authorized>
</AuthorizeView>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
